/* You can add global styles to this file, and also import other style files */

html, body { height: 640px;width: 360px; }
body { margin: 0; font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif, "Helvetica Neue", sans-serif; background-color: #4E5D6A;}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    }
    
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) {
    /* Styles */
    }
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
    /* Styles */
    }
    
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
    }
    
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
    }
    /**********
    iPad 3
    **********/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {
    /* Styles */
    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
    /* Styles */
    }
    
    /* iPhone 4 ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    /* iPhone 5 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone 6, 7, 8 ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone 6+, 7+, 8+ ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone X ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* iPhone XS Max, XR ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* Samsung Galaxy S3 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* Samsung Galaxy S4 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
.mat-menu{
    background-color: #4E5D6A;
    color: #FFFAFA;
    
}
.mat-focus-indicator{
    color: #EB920F
}
.logo{    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.mat-card-login{
    margin-left: 5px;
    margin-right: 5px;
    background-color: #4E5D6A;
    color: #A6BCD0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18pt;
}
.mat-radio-label-content{
    background-color: #4E5D6A;
    color: #A6BCD0;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    font-weight: 300;
}
.mat-radio-button {
    color: #EB920F;
    align-items: center;
    text-align: center;
    margin-left: 16px;
  }
  .mat-accent{
      color: #EB920F;
  }
  .mat-form-field-flex{
    background-color: #4E5D6A;
    color: #A6BCD0;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    font-weight: 300;
  }
  .mat-input-element{
    color: #A6BCD0;
  }
.radio-group-login{
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}
.icon-esqueci-senha{
    position: absolute;
    margin-top: -34px;
    margin-left: -168px;
}
.esqueci-senha{
    position: absolute;
    margin-top: -31px;
    margin-left: -144px;
    color: #A6BCD0;
}
.icon-sem-cadastro{
    position: absolute;
    margin-top: -2px;
    margin-left: -169px;
}
.sem-cadastro{
    position: absolute;
    margin-top: 1px;
    margin-left: -145px;
    color: #A6BCD0;
}
.inputNome{
    display:flex;
    margin-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-height: 500px;
    overflow: auto;
}
.example-form {
    min-width: 140px;
    max-width: 500px;
    width: 92%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .Enter{
    position: absolute;
    width: 331.19px;
    height: 54px;
    left: 14px;
    top: -6px;
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    color: #FFFAFA; 
    background: #EB920F;
    border-radius: 8px;
  }
  .Enter-Login{
    position: absolute;
    width: 331.19px;
    height: 54px;
    left: 0px;
    top: -6px;
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    color: #FFFAFA; 
    background: #EB920F;
    border-radius: 8px;
  }
  .imagem-button {
    position: absolute;
    width: 331.19px;
    height: 54px;
    left: 0px;
    top: -6px;
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    color: #FFFAFA; 
    background: #4E5D6A;
    border-radius: solid 1px #ffffff;
  }
  .mat-radio-button.mat-accent .mat-radio-inner-circle{
      color: #EB920F;
  }
.mat-select{
    width: 92%;
}
